@font-face {
	font-family: LoveYaLikeASister-Regular;
	src: url('fonts/LoveYaLikeASister-Regular.ttf');
}

@font-face {
	font-family: Pompiere-Regular;
	src: url('fonts/Pompiere-Regular.ttf');
}




body{
	background-color: #ffffcc;
}

 .sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0pt;
    z-index: 2;
    height: 6em;
    width:100%;
    margin-left:-.5em;
}

.box{
	border: 10px solid #F5D5E9;
    background: #F5D5E9;
    height: 8em;
    width:100%;
}

.header{

}

h1{
	text-align: center;
	color:white;
	font-size: 3em;
	font-family: LoveYaLikeASister-Regular;
	letter-spacing: 35px;
}

mark{
	text-decoration:underline;
	color:white;
}



.bigscreen{

	z-index:1;
 	
}

img.top{
	width: 55em;
	margin-top:-10em;
	margin-left:-6em;

}

.description{
	background: #F5D5E9;
    max-width: 40em;
    min-height: 3em;
    padding: 25px;
    transform: rotate(2deg);
    box-shadow: 0px 14px 14px rgb(0 0 0 / 30%);
    margin-left: 38em;
    margin-top: -45em;
    z-index:-1;


}

h2{
	left:3em;
	color: white;
	text-decoration-line: underline;
	font-family: LoveYaLikeASister-Regular;
	font-size:2.5em;
	letter-spacing:.25em;


}

p{
	color:white;
	font-size:2em;
	font-family:Pompiere-Regular;

}

h3{
	margin-left:4em;
	color: white;
	text-decoration-line: underline;
	font-family: LoveYaLikeASister-Regular;
	font-size:2.5em;
	letter-spacing:.25em;
	margin-top:4em;
}

.row::after {
	height: 320px;
	display:flex;
}
.image{
	display: flex;
    padding-left: 35px;
    width:30%;
    float: left;
}

img.img1{
	width:20em;
	padding:2em;
	height: 320px;
	border-color: #F5D5E9;
}

img.img2{
	width:20em;
	padding:2em;
	height: 320px;
	border-color: #F5D5E9;
}

img.img3{
	width:20em;
	padding:2em;
	height: 320px;
	border-color: #F5D5E9;
}

@media (max-width: 900px){

	.sticky{
	position: -webkit-sticky;
    position: sticky;
    top: 0pt;
    z-index: 2;
    height: 8em;
    width:100%;
    margin-left:-.5em;
	}


	h1{
		margin-top:-.25em;
	}

	.description{
		background: #F5D5E9;
	    max-width: 40em;
	    min-height: 3em;
	    padding: 25px;
	    transform: rotate(2deg);
	    box-shadow: 0px 14px 14px rgb(0 0 0 / 30%);
	    margin-left: 8em;
	    margin-top: -20em;
	    z-index:-1;
    }

    .image{
	display: flex;
    padding-left: 150px;
    padding-right: 0px;
    padding-bottom: 0px;
    width:30%;
    float: down;
	}

	img.img{
		width:20em;
		padding:2em;
		border-radius: 20px;
		border-color: #F5D5E9;
	}


}
